@CHARSET "UTF-8";

body{padding-top: 100px;}
.btn{margin-top:25px; margin-bottom: 25px; border: none; border-radius: 0px; padding: 4px 25px;text-transform: uppercase; }
.btn-default{color:#fff; background-image: none; background-color: transparent;border:1px solid #CCC;}

/* header */
#header {background: #fff url(../img/header-background.png) top left repeat-x;}
#header > .container > .row{position:relative;}
#header #lti-logo{width:100%;max-width:400px; display:inline-block; position: absolute; left:0; top:30px;}
#header ul#secondary-menu .btn-danger{margin-top: 0;margin-bottom: 0;}
#header ul#main-menu > li > span {cursor: pointer;}


/* main meanu*/
@media all and (min-width: 992px){
	#header ul#main-menu,
	#header ul#secondary-menu {clear:both; float:right !important;list-style-type:none;}
	#header ul#main-menu > li,
	#header ul#secondary-menu > li{display:inline-block;}
	
	#header ul#secondary-menu > li > a {font-size:12px; text-transform: uppercase; padding:5px 15px; color: #8c8c8c;}
	#header ul#secondary-menu > li > a:hover{color: #333; background-color:#ccc;text-decoration: none;}
		
	#header ul#main-menu {clear:both;}
	#header ul#main-menu > li > span, 
	#header ul#main-menu > li > a {padding:25px 15px; text-transform: uppercase;color: #333;}	
	#header ul#main-menu > li > a:hover{color: #8c8c8c; text-decoration: none;}
}


@media all and (max-width: 991px) {	
 	#header {background-image: none;}
 	#header > .container > .row {height:120px;}
 	#header #lti-logo {top:5px;}
 	#header .navbar-toggle{display: block; z-index:99; position:absolute;bottom:5px;right:5px;}
      
    #header .menu-wrapper{display:none;}
    #header .menu-wrapper.open {display: block; border-top: 1px solid rgba(0, 0, 0, 0.1);
	    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);background-color:#fff;position:absolute;right:70px; top:70px; width:190px; z-index:110; }
	    
	#header ul#main-menu,
	#header ul#secondary-menu {clear:both; float:left !important;list-style-type:none; maring:0; padding:0; width:100%;}
	#header ul#main-menu > li,
	#header ul#secondary-menu > li{display:block;padding:10px; border-bottom: 1px solid #ccc;}
	#header ul#main-menu > li.last,
	#header ul#secondary-menu > li.last{border-bottom:none;}
	
	#header ul#main-menu > li > a,
	#header ul#secondary-menu > li > a {color:#333; text-transform: uppercase;}
	
	#header ul#main-menu > li > a:hover,
	#header ul#secondary-menu > li > a:hover{color: #8c8c8c;background-color:#fff; text-decoration: none;}
 }
 
 
/* content */
#content .row .col-md-3{border:1px solid yellow; height:200px;}
#text-1{text-align: center;  margin-top: 35px; margin-bottom: 35px;}

.vertical-image-text .thumbnail{width:160px; height:160px; background-repeat:no-repeat; background-position: center center; margin-left:auto; margin-right:auto;box-shadow: none;border:none;}
.vertical-image-text .caption{font-size: 18px; text-align: center; margin: 15px 0;}
.vertical-image-text .description{line-height: 24px; text-align: center;}

#learn-at-lti .thumbnail {background-image: url(../img/learn-at-lti.png); }
#explore-our-work .thumbnail {background-image: url(../img/explore-our-work.png); }
#collaborate-with-us .thumbnail {background-image: url(../img/collaborate-with-us.png); }

.side-by-side-image-text{margin: 10px 0; }
.side-by-side-image{min-height:300px;background-repeat:no-repeat; background-position: center center;}
#roni-photo{background-image: url(../img/roni-photo.png);}
#google-logo{background-image: url(../img/google-logo.png);}

.side-by-side-text .page-header{padding-bottom: 0; margin-top: 10px;}
.side-by-side-text .divider-highlight{width:50px; border-bottom: 1px red solid;}

.hightlight{color:red; font-size: 16px;}

.image-divider{margin-top:45px;background-repeat: no-repeat; background-size:cover;}
.image-divider h5{ text-transform: uppercase;}
.image-divider > .text-on-image{color:#feffff; text-align: center; padding-top:60px; padding-bottom:60px;}

#section-1 .image-divider{background-image: url(../img/Divider_01_R1a.png);margin-bottom:25px;}
#section-2 .image-divider{background-image: url(../img/Divider_02_R1a.png);margin-bottom:25px;}
#section-3 .image-divider{background-image: url(../img/Divider_03_R1a.png);}

#news p{color:#8c8c8c;}
.event-item {display: block; margin: 10px 0; position: relative;}
.event-item .date{position: absolute; text-transform: uppercase; color:red; margin-right:15px; font-size: 22px; padding: 15px 15px 5px 0px; border-bottom: 1px red solid;}
.event-item .event-detail{padding-left: 110px}
.event-item .event-detail p {color:#8c8c8c;}

.sub-title{font-size:18px;margin:15px 0;}

/* footer */
#footer .row{padding-top:35px; padding-bottom: 35px; background-color: #272727; color: #fff;}
#footer a{color: #fff;}
#footer-logo{background-repeat:no-repeat; background-position: center center;background-image: url(../img/LTI-logo.png);min-height:112px; }
.social-icon{padding:23px;background-repeat:no-repeat; background-position: center center;}
#twitter{background-image: url(../img/twitter-icon.png);}
#fb{background-image: url(../img/fb-icon.png);}